@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 39 40% 80%;
    --foreground: 39 40% 10%;

    --card: 39 40% 90%;
    --card-foreground: 39 40% 10%;
 
    --popover: 39 40% 90%;
    --popover-foreground: 39 40% 10%;
 
    --primary: 39 40% 40%;
    --primary-foreground: 39 40% 98%;
 
    --secondary: 39 40% 70%;
    --secondary-foreground: 39 40% 10%;
 
    --muted: 39 40% 70%;
    --muted-foreground: 39 40% 30%;
 
    --accent: 39 40% 60%;
    --accent-foreground: 39 40% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 39 40% 98%;

    --border: 39 40% 60%;
    --input: 39 40% 60%;
    --ring: 39 40% 40%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 39 40% 20%;
    --foreground: 39 40% 90%;
 
    --card: 39 40% 10%;
    --card-foreground: 39 40% 90%;
 
    --popover: 39 40% 10%;
    --popover-foreground: 39 40% 90%;
 
    --primary: 39 40% 60%;
    --primary-foreground: 39 40% 10%;
 
    --secondary: 39 40% 30%;
    --secondary-foreground: 39 40% 90%;
 
    --muted: 39 40% 30%;
    --muted-foreground: 39 40% 70%;
 
    --accent: 39 40% 40%;
    --accent-foreground: 39 40% 90%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 39 40% 90%;
 
    --border: 39 40% 40%;
    --input: 39 40% 40%;
    --ring: 39 40% 60%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}